{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-caption d-xs-block d-md-block">
        <h1 style="font-size:65px; margin-top:3%">Student Union<br><br></h1>
        <div class="row">
            <div class="col">
                <img class="img-fluid innerimg" src="https://image.flaticon.com/icons/svg/1055/1055650.svg">
                <h3>Event</h3>
            </div>
            <div class="col">
                <img class="img-fluid innerimg" src="https://image.flaticon.com/icons/svg/261/261877.svg">
                <h3>News</h3>
            </div>
            <div class="col">
                <img class="img-fluid innerimg" src="https://image.flaticon.com/icons/svg/189/189664.svg">
                <h3>Information</h3>
            </div>
        </div>
        <div class="row" style="margin-top:10%;">
            <div class="col-6">
                <a class="btn btn-primary" href="/registration/" role="button">Let's Join Us!</a>
            </div>
            <div class="col-4">
                <a class="btn btn-primary" href="/halaman_utama" role="button">Let's See Us!</a>
            </div>
        </div>
      </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 carouselimg"  src="https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Ffortunedotcom.files.wordpress.com%2F2016%2F09%2F488768139.jpg&w=800&q=85" alt="First slide">
      </div>

      <div class="carousel-item">
        <img class="d-block w-100 carouselimg"  src="https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2016/11/08111043/iStock_45504088_MEDIUM.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 carouselimg"  src="https://static1.squarespace.com/static/54d6bef6e4b021e8189e28ce/t/54d6d3ace4b01c3fbbffa5cb/1423365048060/vlcsnap-2013-05-12-19h09m23s46.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}
