{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-sm-8 col-md-7 col-lg-8 news">

                <br><br><br><br>
                <h1 class="text-center">News</h1> <br><br><br>
                {% for item in object_news %}
                <div class=" row rowing"  >
                    <div class="col-sm-5">
                        <img class="img-fluid imgnews" src={{item.model_pic}}>
                    </div>
                    <div class="col-sm-7 align-self-center text-center">
                        <h2>{{item.newsTitle}}</h2>
                    </div>
                </div><br><br>
                {% endfor %}
                <a class="btn btn-primary detailbut"  href="/news" role="button"><h5>SEE DETAIL</h5></a><br><br>
            </div>

            <div class="col-sm-4 col-md-5 col-lg-4 event">
                <br><br><br><br>
                <h1 class="text-center">Upcoming Event</h1> <br><br><br>

                {% for itm in object_event %}
                <div class=" row rowing"  >
                    <div class="col-sm-5">
                        <img class="img-fluid imgevent" src="{{itm.foto_event}}">
                    </div>
                    <div class="col-sm-7 align-self-center text-center">
                        <h4>{{itm.nama_event}}</h4>
                        <a class="btn btn-light" href="#" role="button">JOIN</a>
                    </div>
                </div><br><br>
                {% endfor %}

                <a class="btn btn-primary detailbut"  href="/events" role="button"><h5>SEE DETAIL</h5></a><br><br>
            </div>
        </div>
  </div>
{% endblock %}
