{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="jumbotron" style="background-color:#127FB9; text-align: center">
    <h1 style="font-size : 50px"> MEMBER REGISTRATION </h1>
</div>
<section class="container" id="projects">
    <div class="row">
        <div class = "col-md-3">
        </div>
        <div class="col-md-6 col-md-offset-6">
            <div class="form-regis" style="left:50%;">
                <form id="form" method="POST" action="{% url 'member:add_member' %}">
                    {% csrf_token %}
                    {{form}}
                    <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
                </form>
            </div>
        </div>
    </div>
    <br>
    <button type="button" class="btn btn-info" onclick="window.location.href='/'"> Back </button>
</section>
{% endblock %}
