<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{% block title %}<title>Student Union </title>{% endblock %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
		{% block extrahead %}
		{% endblock %}
	</head>
	<body>
		<header>
			<a href="{% url 'home_app:index' %}"><img src="{% static 'img/logo.png' %}" alt="logo" style="height:48px; width:auto; margin: 10px 10px 10px 10px;" ></a>
			<input type="checkbox" id="nav-toggle" class="nav-toggle">
			<nav>
			<ul>
			<li><a href="{% url 'news:news' %}">NEWS</a></li>
			<li><a href="{% url 'event:event' %}">EVENT</a></li>
			<li><a href="{% url 'member:registration' %}">REGISTER</a></li>
			<li><a href="{% url 'event:join_event' %}">JOIN EVENT</a></li>
			</ul>
			</nav>
			<label for="nav-toggle" class="nav-toggle-label">
			<span></span>
			</label>
	</header>
			{% block content %}
			{% endblock %}
	</body>

	<!-- Footer -->
	<footer class="footer-distributed">

				<div class="footer-center">

					<h3 class="footer-text">Student Union</h3>



					<p class="footer-company-name" style="margin-top:20px;">Studen Union &copy; 2018</p>
				</div>

				<div class="footer-center">

					<div>
						<i class="fa fa-instagram"></i>
						<p class="footer-text">@studentunion</p>
					</div>

					<div>
						<i class="fa fa-whatsapp"></i>
						<p class="footer-text">+62 812-3456-789</p>
					</div>

					<div>
						<i class="fa fa-envelope"></i>
						<p class="footer-text" style="color:white;"><p>studentunion@gmail.com</p></p>
					</div>

					<div>
						<i class="fa fa-twitter"></i>
						<p class="footer-text">@studentunion</p>
					</div>

				</div>

				<div class="footer-right">

					<p class="footer-company-about">
						<span>About the company</span>
						Student Union is a company that helps students to create and join events
					</p>



				</div>

			</footer>
  <!-- Footer -->
</html>
