{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/event.css' %}">
{% endblock %}
{% block content %}

<div class="container-text" style="background-color:#127FB9; height:196px;">
    <p class="event-test">EVENT</p>
</div>
<div class="event-cotent">
    <div class="table-responsive all-table">
        <table style="width:100%;">
            {% if all_event %}
            <h1>Kegiatan yang ada</h1>
            <tr>
                <th>Nama Event</th>
                <th>Tanggal</th>
                <th>Deskripsi</th>
                <th>Peserta</th>
            </tr>
            <tbody>
                {% for i in all_event %}
                <tr class="table-event">
                    <td>{{i.nama_event}}</td>
                    <td>{{i.tanggal}}</td>
                    <td>{{i.deskripsi}}</td>
                    <td>
                    {% for j in participant %}
                    {% if j.event == i.nama_event %}
                        <p>- {{j.nama}} </p>

                    {% endif %}
                    {% endfor %}
                    <hr style="width:100%">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </div>
</div>


{% endblock %}
